.tour-ext__main__header {
  @extend %flex-center-nowrap;
  min-height: 7em;
  padding: 0 #{$block-gap * 1.5};
  h1 {
    font-size: 2.2rem;
    flex: 9 1 auto;
    margin: 0;
    overflow: hidden;
  }
  .img {
    margin-right: 1rem;
  }
  i::before {
    font-size: 3em;
  }
  .clock {
    flex: 0 0 auto;
    font-weight: bold;
    color: $c-font-dim;
    &-created {
      @extend %flex-column;
      text-align: right;
    }
  }
  .time {
    @extend %roboto;
    font-size: 1.5em;
    margin-left: .2em;
  }
  .shy {
    line-height: 20px;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
    white-space: nowrap;
  }
}
