.tour-ext__main__join-tournament {
  @extend %box-neat;
  background: $c-bg-zebra;
  padding: 1em 1.4em;
  margin: 1em 2em 2em 2em;

  .explanation {
    span:not(.name) {
      display: block;
      &.first {
        margin-bottom: .8em;
      }
    }
  }
  .choices {
    margin: 1em 2em 0 0;
    display: flex;
    justify-content: flex-end;
  }
  .button::before {
    margin-right: .4em;
  }
  .button-green {
    margin-left: .4em;
  }
  .spinner {
    margin: .4em 3.5em 0 0;
    width: 2.5em;
    height: 2.5em;
  }
  ul li {
    list-style: disc outside;
    margin: .5em 0 0 1.5em;
  }
}

.tour-ext__main__join-game {
  @extend %flex-column;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  &::before,
  &::after {
    content: 'U';
    font-size: 2rem;
    position: absolute;
    top: 30px;
  }
  &::before {
    left: 30px;
  }
  &::after {
    right: 30px;
  }
}
