.tour-ext__player-info {
  @extend %box-neat-force;
  background: $c-bg-box;
  position: relative;
  align-self: flex-start;
  width: 100%;

  .spinner {
    margin: 5em auto;
  }

  .close {
    position: absolute;
    top: 4px;
    right: 5px;
    opacity: .6;
    @include transition();
    color: $c-red;
    &:hover {
      opacity: 1;
    }
  }

  .stats {
    @extend %flex-column;
    justify-content: center;
    h2 {
      @extend %metal;
      font-size: 1.4em;
      padding: .6rem 1rem;
      border-bottom: $border;
    }
    table.tour-info {
      margin: 1em auto;
      td {
        text-align: right;
        line-height: 1.8em;
      }
    }
    td {
      font-weight: bold;
      padding-left: 10px;
      &:last-child {
        @extend %roboto;
      }
    }
    .fmjd-info {
      display: flex;
      justify-content: space-evenly;
      margin: 1em 1em 0 1em;
      padding: .6em;
      border: $border;
      background: $c-bg-zebra;

      .fmjd-fields {
        margin: auto 0;
        &.with-name table {
          margin: 0 0 1.6em 0;
        }
        td {
          line-height: 1.6em;
        }
      }
      .photo-only {
        display: flex;
      }
      .photo {
        align-self: center;
        width: 80px;
        display: block;
        margin: 0 auto;
        &.not-found {
          opacity: 0.4;
        }
      }
      .flag {
        margin-right: .2em;
        vertical-align: text-bottom;
      }
      .full-name {
        display: block;
        text-align: center;
        margin-top: .2em;
      }
    }
  }

  .games {
    width: 100%;
    tr {
      cursor: pointer;
      @include transition(background-color);
      &.odd {
        background: $c-bg-zebra;
      }
      &:hover:not(.micromatch) {
        background: mix($c-link, $c-bg-box, 10%);
      }
    }
    th, td:not(.micromatch) {
      padding: .3em;
    }
    th {
      @extend %roboto;
      padding-left: 7px;
      border-left: 3px solid transparent;
      @include transition();
    }
    tr:hover th {
      border-color: $c-font-dimmer;
    }
    tr.win:hover th {
      border-color: $c-good;
    }
    tr.loss:hover th {
      border-color: $c-bad;
    }
    td:nth-child(2) {
      @extend %nowrap-ellipsis;
      max-width: 200px;
    }
    td:last-child:not(.micromatch) {
      font-weight: bold;
      opacity: .8;
    }
    tr.win td:last-child {
      color: $c-good;
      opacity: 1;
    }
    tr.loss td:last-child {
      color: $c-bad;
      opacity: 1;
    }
    .outcome {
      font-style: italic;
      color: $c-font-dimmer;
      text-align: center;
    }
    .title {
      color: $c-brag;
      font-weight: bold;
      &[data-bot] {
        color: $c-bot;
      }
      &[data-title64] {
        color: $c-title64;
      }
    }
  }
  .color-icon {
    opacity: .6;
  }
}
