$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'boards';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'upcoming';
@import 'player-info';

.tour-ext {
  a.text {
    color: $c-font-dim;
  }
  &__main {
    h2 {
      font-size: 2em;
      text-align: center;
      border-bottom: $border;
      padding-bottom: #{$block-gap * 2 / 3};
    }
    &__finished {
      margin-top: 2em;
      .result {
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}
