$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'boards';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'table';
@import 'player-info';

.tour-ext {
  a.text {
    color: $c-font-dim;
  }
  &__main {
    h2 {
      font-size: 2em;
      margin-top: 1em;
      padding: 0 #{$block-gap} 0 #{$block-gap * 2 / 3};
    }
    &__invited {
      h2 {
        border-bottom: $border;
        padding-bottom: #{$block-gap};
      }
      td.status {
        @extend %roboto;
        padding: 1em .5em 1em 10px;
        width: 1px; /* helps keeping it as small as possible */
        i {
          opacity: .6;
          font-size: 1.2em;
        }
        &.rejected {
          color: $c-bad;
        }
      }
    }
  }
}
