$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'app-header';
@import 'app-notice';
@import 'app-players';
@import 'app-games';
@import 'boards';

.tour-ext {
  h2 {
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
    border-bottom: $border;
    padding-bottom: #{$block-gap * 2 / 3};
  }
  a.text {
    color: $c-font-dim;
  }
  .slist {
    border: $border;
    border-top: 0px;
  }
  .result {
    font-weight: bold;
    font-size: 1.2em;
  }
  .empty {
    font-size: 1.2em;
    margin-top: 1em;
    text-align: center;
  }
}
