.tour-ext__games {
  @extend %box-neat;
  background: $c-bg-box;
  padding-top: 1.7em;
  align-self: flex-start;
  width: 100%;

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    text-align: center;
  }
  .slist {
    border-top: $border;
    tbody tr:hover {
      background: mix($c-primary, $c-bg-box, 30%);
      cursor: pointer;
    }
  }
  .empty {
    text-align: center;
    padding-bottom: 1em;
  }
  .result {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    margin-right: 0.4em;
  }
  .all-results {
    padding: 0 !important;

    a {
      padding: 1rem 0;
      display: block;
      text-align: center;
    }
  }
  tr.me td:first-child {
    $c-me-border: mix($c-secondary, $c-bg-box, 70%);
    background: linear-gradient(to right, $c-me-border 0px, $c-me-border 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 100%);
  }
}
.tour-ext__table {
  .empty {
    margin-bottom: 1em;
  }
}
